<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p class="text-emerald-900 ml-4" th:text="${text}"></p>


    <div class="flex flex-col">
    <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full" style="border: solid 1px;  border-collapse: collapse;">
                    <caption class="bg-gray-200" style="color: #2d3748;">
                        LISTE DES TACHES
                    </caption>

                    <thead class="bg-white border-b" style="border: solid 2px;  border-collapse: collapse;">
                    <tr>
                        <th scope="col" class="text-sm font-bold text-gray-900 px-6 py-4 text-left" >Title</th>
                        <th scope="col" class="text-sm font-bold text-gray-900 px-6 py-4 text-left">Content</th>
                        <th scope="col" class="text-sm font-bold text-gray-900 px-6 py-4 text-left">Author</th>
                        <th scope="col" class="text-sm font-bold text-gray-900 px-6 py-4 text-left" colspan="2">Actions</th>
                    </tr>
                    </thead >

                    <tbody >



                    <tr th:each="note : ${notes}" class="bg-white border-b" style="border: solid 1px;  border-collapse: collapse;">
                        <td th:text="${note.title}"  class="px-6 py-4 whitespace-nowrap text-sm font-normal text-gray-900" ></td>

                        <td th:text="${note.content}"  class="text-sm text-gray-900 font-normal px-6 py-4 whitespace-nowrap" ></td>

                        <td th:text="${note.author}"  class="text-sm text-gray-900 font-normal px-6 py-4 whitespace-nowrap"></td>


                        <td class="text-sm text-red-800 font-medium px-6 py-4 whitespace-nowrap">




                               <a th:href="@{/update/{id}(id=${note.id})}"> MODIFIER</a>

                            <form th:action="@{/note/delete/{id}(id=${note.id})}" method="post">
                                <input type="hidden" name="_method" value="delete" />

                                <button type="submit">SUPPRIMER</button>
                            </form>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>



<a href="page/form" class="text-red-500 ml-2" >ACCES FORMULAIRE</a>

</body>
</html>